<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>
<p><a href="insert">ADD NEW</a></p>
<table border="1" width="90%" align="center">
    <tr align="center"><td>ID</td><td>MOVIE NAME</td><td>MOVIE GENRE</td><td>MOVIE DIRECTOR</td><td>MOVIE RATINGS</td><td>MANAGE</td></tr>
    {% for movie in movies %}
        <tr align="center"><td>{{ movie.0}}</td><td>{{movie.1}}</td><td>{{movie.2}}</td><td>{{movie.3}}</td><td>{{movie.4}}</td><td><a href="search_update?id={{movie.0}}">Edit</a> &nbsp; | &nbsp;<a href="delete/{{movie.0}}">Delete</a></td></tr>
    {% endfor %}
</table>
</body>
</html>